{
    "TOKEN": "Discord Token",
    "ID": "author id",
    "OWNER": ["owner 1', "owner 2"],
    "DBL_TOKEN": "discordbots.org bot token",
    "BOD_TOKEN": "bots.ondiscord.xyz bot token",
    "DEFAULT_PREFIX": "?",
    "GAME": ["name", {type: ""}]
}